{% extends 'base.html' %}


{% block title %}About Us{% endblock title %}


{% block content %}
<h1>About Us</h1>

<p><strong>Our Mission</strong></p>
<p> Cubic is a technology-driven, market-leading global provider of innovative, mission-critical solutions that reduce congestion and increase operational effectiveness and readiness through superior situational understanding.</p>

<p><b>Our Purpose</b></p>
<p> Our teams are motivated to deliver on our customers’ needs by providing them with the right solutions that create the best outcome for all. </p>




{% endblock content %}
